In [1]:
import pandas as pd

In [2]:
# get yourself a dataframe
df = pd.read_csv('../data/test.csv')

In [3]:
# take yourself a quick peak at what it has
df.head()

   hello  world
0      1      2
1      3      4
2      5      6
3      7      8
4      9     10

In [5]:
# get yourself some basic info about each of the
# columns in the dataframe (numeric only)
df.describe()

           hello      world
count   7.000000   7.000000
mean    7.000000   8.000000
std     4.320494   4.320494
min     1.000000   2.000000
25%     4.000000   5.000000
50%     7.000000   8.000000
75%    10.000000  11.000000
max    13.000000  14.000000